# --- Java (Compilados) ---
*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# --- Directorios de Salida (Build) ---
# Esto ignora las carpetas 'target' de Maven y 'build' de Gradle
target/
bin/
build/
out/

# --- Maven ---
.mtj.tmp/
*.ckpt
.incremental/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.used
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# --- Gradle ---
.gradle
/build/
!gradle-wrapper.jar
/log/

# --- IDEs (IntelliJ, VS Code, Eclipse) ---
.idea/
*.iml
*.iws
.vscode/
.settings/
.classpath
.project
.metadata/

# --- Sistema Operativo ---
.DS_Store
Thumbs.db